<h1 class="page-header">{{data.title}}</h1>
<div class="list-group">
    <a href="{{item.alt}}" class="list-group-item" ng-repeat="item in data.subjects">
        <span class="badge">{{item.rating.average}}</span>
        <div class="media">
            <div class="media-left">
                <img class="media-object" ng-src="{{item.images.small}}" alt="">
            </div>
            <div class="media-body">
                <h3 class="media-heading">{{item.title}}</h3>
                <p>类型：<span>{{item.genres.join('、')}}</span></p>
                <p>导演：<span ng-repeat="d in item.casts">{{d.name +($last?'':'、')}}</span></p>              
            </div>
        </div>
    </a>
</div>